

.loginbotan {
    background-color: #191970;
    text-align: center;
    height: 200px;
}

.A {
    text-align: center;
}

.mail {
    background-color: #424242;
    width: 50%;
    border-radius: 22px;
    margin: auto;
}

.mail input {
    font-size: 30px;
    background-color: #424242;
}

.password input {
    font-size: 30px;
    background-color: #424242;
}

.password {
    background-color: #424242;
    width: 50%;
    border-radius: 22px;
    margin: auto;
    margin-top: 30px;
}

.sinki {
    text-align: center;
    background-color: #191970;
    height: 200px;
    visibility: hidden;
    margin-top: 100px;
}

.sinkitouroku {
    position: relative;
}

.loginbutton {
    margin-top: 30px;
}


/*以降変更*/

.moji {
    opacity: 1;
}

.nav {
    list-style: none;
    position: absolute;
    top: 10px;
}

nav li {
    width: 140px;
    text-align: center;
    background-color: #333;
    height: 50px;
    line-height: 50px;
    margin-right: 310px;
}

.logout {
    list-style: none;
    position: absolute;
    left: 400px;
    top: 10px;
}

.logout li {
    width: 180px;
    line-height: 180px;
    text-align: center;
    background-color: #ff0000;
}

.top {
    width: 100%;
}

.po {
    position: relative;
    display: block;
    height: 250px;
    background-color: #a9a9a9;
    border: solid;
}

.peex {
    list-style: none;
    font-size: 28px;
    margin-left: 190px;
}

.touroku {
    width: 70%;
    margin: auto;
    font-size: 30px;
    text-align: center;
    background-color: #a9a9a9;
    border: solid;
}

.ct {
    list-style: none;
    margin-top: 100px;
}

.syoki {
    width: 25%;
}

.pclic {
    list-style: none;
    font-size: 28px;
    margin-left: 190px;
}


.title{
  margin-left: 200px;
}